* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    height: 100vh;
    text-align: center;

}

.main {
    background-color: lightblue;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    color: blue;
    margin: 20px;
}

.main img {
    width: 350px;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
}

#root {
    height: 100vh;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 2px;
    background-color: blue;
    border-radius: 5px;

}

.setbtn {
    padding: 10px;
    width: 150px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;

}

.second {
    display: flex;
}